#Java target files : bibliothèques dl sur internet
mes/target
mes/log

#Pour les fichiers de config de vscode
mes/.vscode/
.vscode

#Pour les fichiers de config d'Eclipse
.classpath
.project
.settings/

#Pour les fichiers de config d'Intellij
.idea
